body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 100px
}

.logo {
    font: bold 24px/31px 'pt_serifbold', arial, sans-serif;
    height: 35px;
    position: absolute;
    margin-left: 49px;
}

.logoimg {
  height: 35px;
  width: 35px;
  background: center no-repeat url(img/logo.svg);
}

#menu__toggle {
  display: none;
}

.hamburger-menu {
  display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    position: relative;
    margin-right: 26px;
    font: bold 18px/21px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, widht .5s;
}

.menu__item:hover:after, .menu__item_active {
    opacity: 1;
    width: 100%;
}

.menu__item:last-child {
    margin-right: 10px;
    white-space: nowrap;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main-section {
    background: url(img/mainlmg.svg) no-repeat;
    background-position: right;
    padding: 230px 150px 180px 0px;
    margin-top: -31px;
}

.main-content {
  width: 50%;
}

.main-content__title {
    height: 255px;
    font-family: 'pt_serifbold', arial, helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    padding-bottom: 0;
    margin-bottom: 50px;
    margin-top: -100px;
    margin-left: -1px;
}

.main__title-text_highlight {
  background: #ECF3FF;
  background: linear-gradient(180deg, rgba(255,255,255,1) 18%, #ecf3ff 18%);
  margin-right: -15px;
}

.main-content__subtitle {
    width: 455px;
    font: normal 22px/26px 'Roboto', arial, helvetica, sans-serif;
    position: sticky;
    margin-bottom: 1px;
  }

  .main__button {
      display: inline-block;
      font: 18px/21px 'Roboto', arial, helvetica, sans-serif;
      color: #FFFFFF;
      background: #0056EC;
      padding: 24px 38px 16px 20px;
      text-decoration: none;
      border-radius: 4px;
      transition: opacity .5s;
      margin: 33px -10px 9px 4px;
    }

.main__button:hover {
  opacity: .5;
}

.image-content {
    background: url(img/detail.svg) center no-repeat;
    position: absolute;
    width: 32px;
    left: 944px;
    top: 1028px;
}

@media (max-width: 1366px) {
  .logo {
    font: bold 24px/31px 'pt_serifbold', arial, sans-serif;
    position: absolute;
  }

  .logoimg {
    height: 35px;
    background: url('img/logo.svg') no-repeat;
    width: 80%;
  }

  .wrapper {
    width: 69%;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .menu__item {
    position: relative;
    margin-top: 5px;
    font: bold 14px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:hover:after, .menu__item_active {
      opacity: 1;
      width: 100%;
  }

  .menu__item:last-child {
    white-space: nowrap;
  }

  .main-section {
    background: url(img/mainlmg.svg) no-repeat;
    background-position: right;
    margin-top: -152px;
    margin-right: 5px;
    background-size: 514px;
  }

  .main-content__title {
    width: 520px;
    font-family: 'pt_serifbold', arial, helvetica, sans-serif;
    margin-top: -80px;
    font-size: 50px;
    margin-left: 10px
  }

  .main-content__subtitle {
    width: 367px;
    font: normal 18px/21px 'Roboto', arial, helvetica, sans-serif;
    position: sticky;
    margin-bottom: -90px;
    margin-top: -69px;
    margin-left: 6px;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
    background: linear-gradient(180deg, rgba(255,255,255,1) 18%, #ecf3ff 18%);
    margin-right: -15px;
  }

  .main__button {
    display: inline-block;
    font: 12px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #FFFFFF;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
    height: 17px;
    margin-top: 130px;
    line-height: 1px;
    width: 209px;
  }

  .main__button:hover {
    opacity: .5;
  }

  .image-content {
    background: url('img/detail.svg') center no-repeat;
    position: absolute;
    width: 32px;
    left: 665px;
    top: 720px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    margin-right: -122px;
    margin-top: 4px;
  }

  .logo {
    margin-left: -70px;
    margin-top: -3px;
  }

  .logoimg {
    margin-left: -112px;
    margin-top: -5px
  }

  .hamburger-menu {
    display: none;
  }

  .menu {
    margin-left: 16px;
  }

  .main-section {
    margin-top: -150px;
    margin-right: -112px;
  }

  .main-content__title {
    margin-top: -82px;
    margin-left: -114px;
  }

  .main-content__subtitle {
    margin-left: -111px;
    margin-top: -68px;
  }

  .main__button {
    margin-top: 131px;
    margin-left: -112px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 28px;
    margin-left: 180px;
  }

  .logo {
    display: none;
  }

  .logoimg {
      height: 55px;
      background-size: 50px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .hamburger-menu {
    display: block;
    width: 40px;
    height: 25px;
    margin-left: 150px;
    margin-top: 10px;
    margin-right: 70px;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 45px;
    height: 60px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #0056EC;
    transition-duration: .25s;
    padding-right: 1px;
  }

  .menu__btn > span::before {
    content: '';
  }

  .menu__btn > span::after {
    content: '';
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    margin-left: -143px;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    padding: 80px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 2;
  }

  .menu {
    display: none;
  }

  .menu__item {
  display: block;
  color: #333;
  font: bold 40px/45px 'Roboto', sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  margin-right: 26px;
  margin-top: 50px;
  margin-left: 80px;
  position: relative;
  }

  .menu__item_active::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0px;
  }

  .main-section {
    text-align: center;
    background-size: 400px;
    background-position: top center;
    margin-top: -40px;
    margin-right: 100px;
  }

  .main-content__title {
    width: 325px;
    margin-top: 150px;
    margin-left: 60px;
    font-size: 40px;
  }

  .main__title-text_highlight {
    background: linear-gradient(180deg, rgba(255,255,255,1) 18%, #ecf3ff 18%);
  }

  .main-content__subtitle {
    width: 295px;
    position: sticky;
    margin-left: 70px;
    margin-bottom: -90px;
    margin-top: -115px;
    font-weight: 500;
    size: 30px;
  }

  .main__button {
    display: inline-block;
    font: 12px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #FFFFFF;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
    margin-top: 120px;
    margin-left: 110px;
    line-height: 1px;
  }

  .main__button:hover {
    opacity: 5;
  }

  .image-content {
    display: none;
  }
}

@media (max-width: 375px) {
  .header {
      margin-bottom: 16px;
    }

  .logo {
    display: none;
  }

  .logoimg {
    height: 35px;
    margin-left: -220px;
    width: 60px;
    background-size: 35px;
    margin-top: -25px;
  }

  .hamburger-menu {
    display: block;
    margin-left: -147px;
    margin-top: 16px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 25px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #0056EC;
    transition-duration: .25s;
    padding-right: 1px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    margin-left: -143px;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 2;
  }

  .menu {
    display: none;
  }

  .menu__item {
  display: block;
  color: #333;
  font: bold 20px/35px 'Roboto', sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  margin-right: 26px;
  margin-top: 30px;
  margin-left: 80px;
  position: relative;
  }

  .menu__item_active::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0px;
    }

    .main-section {
      text-align: center;
      background-size: 280px;
      background-position: top center;
      margin-top: -27px;
      margin-right: -5px;
    }

  .main-content__title {
    width: 267px;
    font-family: 'pt_serifbold', arial, helvetica, sans-serif;
    margin-top: 50px;
    margin-left: -8px;
    font-size: 30px;
  }

  .main-content__subtitle {
    width: 275px;
    font: normal 16px/18px 'Roboto', arial, helvetica, sans-serif;
    position: sticky;
    margin-left: -11px;
    margin-bottom: -90px;
    margin-top: -145px;
    font-weight: 500;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
    background: linear-gradient(180deg, rgba(255,255,255,1) 18%, #ecf3ff 18%);
    margin-right: -15px;
  }

  .main__button {
    display: inline-block;
    font: 12px/16px 'Roboto', arial, helvetica, sans-serif;
    color: #FFFFFF;
    background: #0056EC;
    text-decoration: none;
    border-radius: 4px;
    transition: opacity .5s;
    height: 17px;
    margin-top: 115px;
    margin-left: 20px;
    line-height: 1px;
  }

  .main__button:hover {
    opacity: 5;
  }

  .image-content {
    display: none;
  }
}
